@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  src: url("../fonts/Roboto-Bold.ttf"); }

@font-face {
  font-family: 'Roboto';
  font-weight: 900;
  src: url("../fonts/Roboto-Black.ttf"); }

body {
  background-color: #F5F5F5;
  font-family: 'Roboto'; }

.container {
  position: absolute;
  top: 25%;
  left: 0;
  right: 0; }

.listing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.card {
  margin: 0.5em;
  background-color: white;
  border: #ccc 1px solid;
  width: 340px; }

.card__content {
  margin: 1em 0.8em; }

.card__stats {
  display: flex;
  color: #BDBDBD;
  font-size: 0.9em; }

.stats {
  display: flex;
  margin: 0 0.4em;
  align-items: center;
  justify-content: center; }

.card__image {
  position: relative;
  max-height: 270px;
  height: 100%; }
  .card__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.card__info {
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column; }

.card__text {
  font-size: 1em;
  font-weight: 400;
  color: #252525; }

.card__text--header {
  font-size: 1.1em;
  flex-basis: 2.4em;
  line-height: 1.2em;
  overflow: hidden;
  margin: 0; }

.card__text--subheader {
  font-weight: 500;
  font-size: 1.1em;
  flex-basis: 2em;
  margin: 0.3em 0;
  color: #AAAAAA; }

.card__text--before-discount {
  color: #F20000;
  text-decoration: line-through; }

.card__text--after-discount {
  color: #00B64D; }

.icon {
  margin-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
  fill: #BDBDBD; }

.icon--banner {
  fill: #FFB400; }

.icon--lg {
  transform: scale(1.5); }

.banner {
  height: 2em;
  width: 9.2em;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  position: absolute;
  top: 10%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFCFC; }

.banner__text {
  font-size: 0.9em;
  font-style: italic;
  color: #FFB400; }
